{% extends '../base.twig' %}

{% block content %}
    <div>
        <div style="display: flex; align-items: center; justify-content: center; padding-top: 20px">
            <h1 >Vitajte!</h1>
        </div>

        <p style="color: #14213d">Toto je stranka na podujatia na ktorej sa nedaju kupit listky. <br>A good luck ak uz nie ste registrovany lebo to tu nieje</p>
    </div>
{% endblock %}