{% extends '../base.twig' %}

{% block content %}
    <!-- Formular na zmenu hesla -->
    <div class="row">
        <div class="col-4 offset-4">
            <form action="/user/check" method="post" class="mt-4">
                <div class="card" style="border-radius: 20px">
                    <div class="card-header" style="background-color: #14213D; color: #fca311; border-radius: 15px 15px 0 0">Prihláste sa, prosím</div>
                    <div class="card-body" style="background-color: #212529; border-radius: 0 0 15px 15px">
                        <label style="color: #fca311">Prihlasovacie meno</label>
                        <input class="form-control" style="border-radius: 10px; color: black" type="text" name="username" placeholder="prihlasovacie meno">
                        <label style="color: #fca311">Heslo</label>
                        <input class="form-control" style="border-radius: 10px; color: black" type="password" name="password" placeholder="heslo">
                        <input class="btn btn-success mt-4 float-end" style="color: #14213D; background-color: #fca311; border-color: #915f0b" type="submit" value="Prihlásiť sa">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}